@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
   color: #4d4d4d;
}

#title {
  text-align: center;
}

#employee {
  border-collapse: collapse;
  border-radius: 5px;
}

#employee td,
#employee th {
  border: 1px solid rgb(231, 231, 231);
  padding: 12px;
}

#employee tr:hover {
  background-color: #eeefff;
}

#employee th {
  padding: 10px;
  text-align: center;
  background-color: #05a1b6;
  color: white;
}

.operation {
  text-align: center;
}
span {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.input {
  width: 30%;
  border: 3px solid #05a1b6;
  border-radius: 4px;
  padding: 5px;
  height: 40px;
  outline: none;
  color: #4d4d4d;
}